---
layout: base
---
<div class="wrapper">
	<header>
		{% if site.compass.logo %}
		<div class="logo-container">
			<a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
		</div>
		{% endif %}

		{% if site.compass.author %}
		<div class="author-container">
			<h1>{{ site.compass.author }}</h1>
		</div>
			{% endif %}

			{% if site.compass.tagline %}
			<div class="tagline-container">
				<p>{{ site.compass.tagline }}</p>
			</div>
			{% endif %}
			<div class="address-container">
				<p><a href="mailto:p.schulthess@lacdr.leidenuniv.nl">p.schulthess@lacdr.leidenuniv.nl</a></p>
				<p>+31 71 527 4428</p>
				<p>Leiden University<br>Leiden Academic Center for Drug Research (LACDR)<br>Gorlaeus Laboratories<br>Einsteinweg 55, 2333 CC Leiden<br>The Netherlands</p>
			</div>
			<div class="icon-container">
				<a href="https://de.linkedin.com/in/pascalschulthess">
					<span class="fa-stack">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-stack-1x fa-linkedin fa-inverse"></i>
					</span>
				</a>
				<a href="https://twitter.com/hellopascal">
					<span class="fa-stack">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-stack-1x fa-twitter fa-inverse"></i>
					</span>
				</a>
				<a href="https://github.com/pascalschulthess">
					<span class="fa-stack">
						<!--<i class="fa fa-circle fa-stack-2x fa-inverse"></i>-->
						<i class="fa fa-stack-2x fa-github"></i>
					</span>
				</a>
				<a href="https://www.researchgate.net/profile/Pascal_Schulthess2">
					<span class="fa-stack">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="ai fa fa-stack-1x ai-researchgate fa-inverse ai-stack"></i>
					</span>
				</a>
			</div>
		</header>
		<main>
			{% if site.compass.include_content %}
			<div class="content">
				{% include content.html %}
			</div>
			{% endif %}
		</main>
	</div>
	<!--<script src="javascripts/scale.fix.js"></script>-->
