<span class="mobile btn-mobile-menu">
  <i class="fa fa-bars btn-mobile-menu__icon"></i>
  <i class="fa fa-gitlab btn-mobile-close__icon hidden"></i>
</span>

<header class="panel-cover" style="background-image: url({{ site.baseurl }}/images/background.jpg)">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    	<div class="panel-main__content">
        <a href="{{ site.baseurl }}" title="link to home of {{ site.title }}">
          <img src="{{ site.baseurl }}/images/me.jpg" class="user-image" alt="My Profile Photo">
          <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">{{ site.description }}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">

        <div class="navigation-wrapper">

          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item"><a href="{{ site.baseurl }}/about.md" title="link to {{ site.title }} about" class="about-button">About</a></li>
              <!--<li class="navigation__item"><a href="{{ site.baseurl }}/#blog" title="link to {{ site.title }} blog" class="blog-button">Blog</a></li>-->
            </ul>
          </nav>

          <nav class="cover-navigation navigation--social">
            <ul class="navigation">

              {% if site.author.orcid_username %}
                <!-- ORCID -->
                <li class="navigation__item">
                  <a href="http://orcid.org/{{ site.author.orcid_username }}" title="Find me on ORCID" target="_blank">
                    <i class="ai ai-orcid"></i>
                    <span class="label">ORCID</span>
                  </a>
                </li>
              {% endif %}
			  
              {% if site.author.googlescholar_username %}
                <!-- Google Scholar -->
                <li class="navigation__item">
                  <a href="https://scholar.google.nl/citations?user={{ site.author.googlescholar_username }}" title="Find me on Google Scholar" target="_blank">
                    <i class="ai ai-google-scholar"></i>
                    <span class="label">Google Scholar</span>
                  </a>
                </li>
              {% endif %}
			  
              {% if site.author.researchgate_username %}
                <!-- ResearchGate -->
                <li class="navigation__item">
                  <a href="https://www.researchgate.net/profile/{{ site.author.researchgate_username }}" title="Find me on ResearchGate" target="_blank">
                    <i class="ai ai-researchgate"></i>
                    <span class="label">ResearchGate</span>
                  </a>
                </li>
              {% endif %}

              {% if site.author.linkedin_username %}
                <!-- LinkedIn -->
                <li class="navigation__item">
                  <a href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}" title="Find me on LinkedIn" target="_blank">
                    <i class="fa fa-linkedin"></i>
                    <span class="label">LinkedIn</span>
                  </a>
                </li>
              {% endif %}

              {% if site.author.slideshare_username %}
                <!-- SlideShare -->
                <li class="navigation__item">
                  <a href="http://www.slideshare.net/{{ site.author.slideshare_username }}" title="Find me on SlideShare" target="_blank">
                    <i class="fa fa-slideshare"></i>
                    <span class="label">SlideShare</span>
                  </a>
                </li>
              {% endif %}

              {% if site.author.github_username %}
                <!-- GitHub -->
                <li class="navigation__item">
                  <a href="https://www.github.com/{{ site.author.github_username }}" title="Find me on GitHub" target="_blank">
                    <i class="fa fa-github"></i>
                    <span class="label">GitHub</span>
                  </a>
                </li>
              {% endif %}

              {% if site.author.twitter_username %}
                <!-- Twitter -->
                <li class="navigation__item">
                  <a href="http://twitter.com/{{ site.author.twitter_username }}" title="Find me on Twitter" target="_blank">
                    <i class="fa fa-twitter"></i>
                    <span class="label">Twitter</span>
                  </a>
                </li>
              {% endif %}

              {% if site.author.facebook_username %}
                <!-- Facebook -->
                <li class="navigation__item">
                  <a href="http://fb.me/{{ site.author.facebook_username }}" title="Find me on Facebook" target="_blank">
                    <i class="fa fa-facebook"></i>
                    <span class="label">Facebook</span>
                  </a>
                </li>
              {% endif %}

              {% if site.author.instagram_username %}
                <!-- InstaGram -->
                <li class="navigation__item">
                  <a href="https://www.instagram.com/{{ site.author.instagram_username }}" title="Find me on Instagram" target="_blank">
                    <i class="fa fa-instagram"></i>
                    <span class="label">Instagram</span>
                  </a>
                </li>
              {% endif %}

                <!-- Email -->
                <li class="navigation__item">
                  <a href="{{ site.baseurl }}/contact.md" title="Contact me directly">
                    <i class="fa fa-envelope"></i>
                    <span class="label">Contact</span>
                  </a>
                </li>

              <!-- RSS -->
              <!-- <li class="navigation__item">
                <a href="{{ site.baseurl }}/feed.xml" title="Subscribe to feed" target="_blank">
                  <i class="fa fa-rss"></i>
                  <span class="label">RSS</span>
                </a>
              </li> -->
            </ul>
          </nav>

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>
